.loading-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 1000ms;

  &.hidden {
    opacity: 0;
  }
}