@import "../styles";

.custom-binary-layout {
  @extend .custom-layout;

  .progress {
    margin: 0 30px;
    height: 6px;

    .progress-bar {
      background-color: $primaryColor !important;

      &.status-secondary {
        background-color: $secondaryColor !important;
      }
    }
  }

  .battery-icon {
    margin-top: -5px;

    .bi {
      font-size: 47px;
      line-height: 1em;
    }
  }
}