.device-dialog {
  .device-control-group {
    overflow-wrap: anywhere;
    padding: 10px;
    border-bottom: solid 1px #f3f3f3;

    &:nth-child(2n) {
      //background-color: #f3f3f3;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    a.value-info {
      opacity: .65;
      transition: opacity 300ms;
      font-size: 90%;
      margin-bottom: -2px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .row {
    & > div {
      display: flex;
      align-items: center;
    }
  }

  .highlight-value {
    //transition: color 2000ms, text-shadow 2000ms;
    $duration: 3000ms;
    border-radius: 3px;
    margin: 0 -10px;
    padding: 0 10px;
    background-color: transparent;
    transition: background-color $duration;

    &.just-added {
      transition: none;

      //text-shadow: 0 0 6px #0d6efd, 0 0 8px #1273de, 0 0 12px #004dcf;
      //color: #004dff;

      background-color: #fccb00;
    }
  }
}